<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.coderpig.cp_network_capture">
    <application>
        <activity
            android:name=".ui.activity.NetworkCaptureActivity" />

<!--        <activity-alias-->
<!--            android:name=".NetworkCaptureActivity"-->
<!--            android:exported="true"-->
<!--            android:icon="@mipmap/cp_network_capture_logo"-->
<!--            android:label="(◉ω◉)抓包"-->
<!--            android:targetActivity="cn.coderpig.cp_network_capture.ui.activity.NetworkCaptureActivity"-->
<!--            android:taskAffinity="cn.coderpig.cp_dev_helper.${applicationId}">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->

        <activity android:name=".ui.activity.NetworkLogActivity" />
        <activity android:name=".ui.activity.ConfigSettingActivity" />
        <activity android:name=".ui.activity.TextSearchActivity" />

        <provider
            android:name=".provider.CpNetworkCaptureProvider"
            android:authorities="${applicationId}.capture_network_provider"
            android:exported="false" />

    </application>

</manifest>